

.display{
  margin-left: 100px;
  display: flex;
  height: 650px;
  gap: 20px;
  color: #073775;
}
table{
  font-size: 20px;
}
th{
  padding: 20px;
  width: 500px;
  height: 60px;
  background-color: #073775;
  color: white;
}
td{
  height: 20px;
  padding-left: 20px;
  background-color: white;
  color: #073775;
  font-weight: 700;
}
.inputForm{
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section{
  display: flex;
  flex-direction: column;
}
#inputs-container{
  display: flex;
  flex-direction: column;
}
label{
  font-size: 30px;
  font-weight: 700;
}
input{
  height: 60px;
  padding: 20px;
  font-size: 20px;
  width: 70%;
  margin-left: 50px;
}
.deptInput{
  max-height: 40px;
  margin-bottom: 20px;
}
input[type=submit]{
  background-color: #1967e1;
  color: white;
  border: none;
  cursor: pointer;
}