

.display{
    margin-left: 100px;
    display: flex;
    height: 650px;
    gap: 20px;
    color: #073775;
  }
  .departmentDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  select{
    height: 40px;
    font-size: 20px;
    padding: 5px;
  }
  .program{
    display: flex;
    flex-direction: column;
  }
  .header{
    background-color: #073775;
    color: white;
    width:450px;
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
  }
  .tDiv{
    background-color: white;
    margin-bottom: 3px;
    padding: 10px;
    font-size: 20px;
  }
  #programs{
    background-color: white;
    height: 10px;
    font-size: 20px;
    padding: 25px;
  }
  .inputForm{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  section{
    display: flex;
    flex-direction: column;
  }
  .inputs-container{
    display: flex;
    flex-direction: column;
  }
  label{
    font-size: 30px;
    font-weight: 700;
  }
  input{
    height: 60px;
    padding: 20px;
    font-size: 20px;
    width: 70%;
    margin-left: 50px;
  }
  .deptInput{
    max-height: 40px;
    margin-bottom: 20px;
  }
  input[type=submit]{
    background-color: #1967e1;
    color: white;
    border: none;
    cursor: pointer;
  }