@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@700&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Hammersmith+One&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@500;700;800&family=Righteous&display=swap");

:root {
  --color-primary: #0073ff;
  --color-white: #e9e9e9;
  --color-black: #141d28;
  --color-black-1: #212b38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #e7e7e7;
}

h1 {
  color: white;
}
.logoText {
  display: flex;
}
.umakLogo {
  height: 2vw;
  margin-right: 1vw;
}
.menu-bar {
  background-color: #073775;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;

  position: relative;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */

  position: relative;
}

.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;

  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #073775;
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}
.menu-bar li .logout {
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.1vw;
  width: 6vw;
  color: white;
  border: none;
  cursor: pointer;
}
.menu-bar li .logout:hover {
  color: #0073ff;
}
/* END OF NAV BAR */

.dashboard {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 25px;
  background-color: #e7e7e7;
  width: 90%;
  height: 800px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
}
.title {
  background-color: #073775;
  color: white;
  padding: 15px;
  font-size: 25px;
  font-weight: 700;
  border-radius: 5px 5px 0 0;
}
.content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* LEFT SIDE BAR */
.leftSideBar {
  width: 355px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.left {
  height: 150px;
  background-color: white;
  border-radius: 10px;
}
h2 {
  color: black;
  font-size: 50px;
}
.lTop {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.tStaff {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.sImg {
  height: 110px;
  width: 110px;
}
.totalVE {
  display: flex;
  gap: 75px;
  border-top: 2px solid rgb(180, 180, 180);
  padding-top: 15px;
}
.divVE {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vStaff {
  color: #0073ff;
}
.eStaff{
  color: #fce61e;
}
.lBot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.tAlumni {
  display: flex;
  flex-direction: column;
}
.tImg {
  width: 100px;
  height: 100px;
}
.numText,
.staffText {
  font-weight: 700;
}
.addText {
  color: #073775;
}
.editText {
  color: #e1cd19;
}
/* CENTER DIV */
.barGraph {
  width: 1000px;
  border-radius: 5px;
  background-color: white;
}
.CDAdropdown {
  margin: 40px 0 0 40px;
  background-color: #073775;
  color: white;
  font-size: 20px;
  height: 40px;
  width: 250px;
  padding-left: 10px;
  border-radius: 5px;
}

/* RIGHT SIDE BAR */
.rightSideBar {
  width: 355px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.rTop {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.searchProg {
  border: 1px solid #073775;
  border-radius: 5px;
  display: flex;
  background-color: white;
}
.searchProg .searchImg {
  width: 35px;
}
.searchProg input {
  border: none;
  height: 35px;
  font-size: 15px;
  padding-left: 5px;
  outline: none;
}

.result {
  height: 200px;
  background-color: white;
}

.rBot {
  height: 450px;
  background-color: white;
}
